=stylesheet_link_tag "donations"

%h1 Support Escape Artists!
%p
  %strong Yes,
  I'm a fabulous person and I want to help these short story podcasts succeed.  I understand that my
  donation supports the authors and production staff of Escape Artists, Inc., and that my email address
  and other personal information will never
  %em ever
  be shared with other third parties, except to enable this payment.
  
-form_for @donation do |form|
  =error_messages_for :donation
  %p
    =form.label :amount, "I want to donate: $"
    =form.text_field :amount, :size => 6
  %br
    =form.radio_button :type, "OneTimeDonation"
    =form.label :type, "...as a one-time donation"
  %br
    =form.radio_button :type, "RecurringDonation" 
    =form.label :type, "...as a monthly recurring subscription."
  %p
    I would like my donation to support:
    -for podcast in Podcast.find(:all)
      .podcast_box
        %img{:src=>"/images/#{podcast.image}"}
        =check_box_tag "#{podcast.name}" , podcast.id,  @donation.podcasts.include?(podcast),  :name => 'donation[podcast_ids][]'
        %label{:for => "#{podcast.id}"} 
          %a{:href=>"#{podcast.url}"}#{podcast.name} 
        %br
        #{podcast.description}

      
  %p
    =form.label :name, "My name is:"
    %br
    =form.text_field :name
  %p
    =form.label :email, "My email address is:"
    %br
    =form.text_field :email
  %p
    =form.label :comment, "A comment for the editors:"
    %br
    =form.text_area :comment
  =form.submit "Proceed to Payment"
