/TODO: I do not like this because it puts the stylesheet tag in the body, when it should be in the head
/ but how do I get around this?
= stylesheet_link_tag "payments"
%h1 Thank You!
  
%p Your support is invaluable for keeping our podcasts alive, and we really appreciate your help today.  For your convenience, we offer a flexible array of payment options including...er...

%p Well, right now there's only PayPal.  We're working on it. But PayPal will let you pay with or without an account. Just confirm your information below and, if it's correct, hit the magic button.

%p
  %label My name is: 
  .readOnly #{display_name}

%p
  %label My email address is: 
  .readOnly #{display_email}
%br
-# Commenting this out.  Edit and cancel require more thought
-#.prettyBox
  -#Is any of this wrong? Had a change of heart? You can 
  -#= link_to "edit", :controller => 'donations', :action=> 'edit', :id => @donation.id 
  -#or
  -#=button_to "cancel", { :controller=>'donations', :action => 'destroy', :id =>@donation.id, :method=>:delete}
  -#-#=link_to "cancel", :controller => 'donations', :action => 'destroy', :id => @donation.id, :method=>:delete
  -#your donation during this session.
%p
  %label I am donating: 
  .readOnly $#{sprintf("%.2f",@donation.amount)} #{donation_type}

%p
  %label{:style=>"height:3em"} I want to support: 
  .readOnly #{display_podcasts}

%p &nbsp;

#donate
  %form{ :action => "https://www.paypal.com/cgi-bin/webscr"}

    %input{:type => "image", :src => "/images/btn_donate_LG.gif"}
    %span
      When you click this "Donate" Button, you'll be taken to PayPal's site, where you can log in or simply provide a credit card.Our magic helper monkeys will receive notification after you complete your payment.  If you have any trouble with the process, please 
      =mail_to "develop@escapeartists.net", "let us know" 
      and we'll do what we can to help.

    %input{:type=>"hidden", :name=>"item_name", :value=>"Escape Artists #{donation_type} Donation"}
    %input{:type=>"hidden", :name=>"business",:value=>"paypal@escapeartists.net"}
    %input{:type=>"hidden", :name=>"currency_code", :value=>"USD"}
    %input{:type=>"hidden", :name=>"no_shipping", :value=>"1"}
    = paypal_options    
