%h1 Thank You!
  
%p Your support is invaluable for keeping our podcasts alive, and we really appreciate your help today.  For your convenience, we offer a flexible array of payment options including...er...

%p Well, right now there's only PayPal.  We're working on it. But PayPal will let you pay with or without an account. Just confirm your information below and, if it's correct, hit the magic button.

%p
  %label My name is: 
  #{display_name}

%p
  %label My email address is: 
  #{display_email}
%br
.prettyBox
  Is any of this wrong? Had a change of heart? You can 
  %a{ :href => '#' } edit 
  or 
  %a{ :href => '#' } cancel
  your donation during this session.
%p
  %label I am donating: 
  $#{sprintf("%.2f",@donation.amount)} #{donation_type}

%p
  %label I want to support: 
  Escape Pod

%p &nbsp;

%div{:style => "border: 3px solid black;overflow:auto;width:100%;"} 
  %form{ :action => "https://www.paypal.com/cgi-bin/webscr"}

    %input{:type => "image", :src => "/images/btn_donate_LG.gif", :style=>"float:left;padding:1em"}
    %span{:style=>"font-size:smaller;float:left;width:430px"}When you click this "Donate" Button, you'll be taken to PayPal's site, where you can log in or simply provide a credit card.Our magic helper monkeys will receive notification after you complete your payment.  If you have any trouble with the process, please let us know and we'll do what we can to help.

    %input{:type=>"hidden", :name=>"item_name", :value=>"Escape Artists #{donation_type} Donation"}
    %input{:type=>"hidden", :name=>"business",:value=>"paypal@escapeartists.net"}
    %input{:type=>"hidden", :name=>"currency_code", :value=>"USD"}
    %input{:type=>"hidden", :name=>"no_shipping", :value=>"1"}
    = paypal_options    
