-d_type_string = "right now"
-d_type_string = "monthly" if @donation.recurring

%h1 Thank You!
  
%p Your support is invaluable for keeping our podcasts alive, and we really appreciate your help today.  For your convenience, we offer a flexible array of payment options including...er...

%p Well, right now there's only PayPal.  We're working on it. But PayPal will let you pay with or without an account. Just confirm your information below and, if it's correct, hit the magic button.

%p
  %label My name is: 
  #{@donation.name}

%p
  %label My email address is: 
  #{@donation.email}
%br
%p
  %label I am donating: 
  $#{sprintf("%.2f",@donation.amount)} #{d_type_string}

%p
  %label I want to support: 
  Escape Pod

.prettyBox
  Is any of this wrong? Had a change of heart? You can 
  %a{ :href => '#' } edit 
  or 
  %a{ :href => '#' } cancel
  your donation during this session.

.div{:style => "border: 2px solid black;overflow:auto;width:100%"} 
  %form{ :action => "https://www.paypal.com/cgi-bin/webscr"}

    %input{:type => "image", :src => "/images/btn_donate_LG.gif", :style=>"float:left"}
    %span{:style=>"float:left;width:75%"}When you click this "Donate" Button, you'll be taken to PayPal's site, where you can log in or simply provide a credit card.Our magic helper monkeys will receive notification after you complete your payment.  If you have any trouble with the process, please let us know and we'll do what we can to help.
    -if @donation.recurring
      -#fields for recurring donation
      %input{:type=>"hidden", :name=>"cmd", :value=>"_xclick-subscriptions"}
      %input{:type=>"hidden", :name=>"no_note", :value=>"1"}
      %input{:type=>"hidden", :name=>"bn", :value=>"PP-SubscriptionsBF"}
      / subscription amount in dollars
      %input{:type=>"hidden", :name=>"a3", :value=>"#{@donation.amount}"}
      / billing cycle units (in our case, months)
      %input{:type=>"hidden", :name=>"t3", :value=>"M"}
      /billing cycle
      %input{:type=>"hidden", :name=>"p3", :value=>"1"}
      %input{:type=>"hidden", :name=>"src", :value=>"1"}
      %input{:type=>"hidden", :name=>"sra", :value=>"1"}
    -else 
      -#fields for single donations
      %input{:type=>"hidden", :name=>"cmd", :value=>"_donations"}
      %input{:type=>"hidden", :name=>"item_number", :value=>"#{@donation.id}"}
      %input{:type=>"hidden", :name=>"amount", :value=>"#{@donation.amount}"}
      %input{:type=>"hidden", :name=>"tax", :value=>"0"}

    -#these are for either type of donation
    %input{:type=>"hidden", :name=>"item_name", :value=>"Escape Artists #{d_type_string} Donation"}
    %input{:type=>"hidden", :name=>"business",:value=>"paypal@escapeartists.net"}
    %input{:type=>"hidden", :name=>"currency_code", :value=>"USD"}
    %input{:type=>"hidden", :name=>"no_shipping", :value=>"1"}
  
  
