-d_type_string = "Single"
-d_type_string = "Monthly" if @donation.recurring

  
%p Thanks!  You have chosen to make a #{d_type_string} Donation.  You are fabulous.

%form{ :action => "https://www.paypal.com/cgi-bin/webscr"}

  %input{:type => "image", :src => "/images/btn_donate_LG.gif"}
  -if @donation.recurring
    -#fields for recurring donation
    %input{:type=>"hidden", :name=>"cmd", :value=>"_xclick-subscriptions"}
    %input{:type=>"hidden", :name=>"no_note", :value=>"1"}
    %input{:type=>"hidden", :name=>"bn", :value=>"PP-SubscriptionsBF"}
    / subscription amount in dollars
    %input{:type=>"hidden", :name=>"a3", :value=>"#{@donation.amount}"}
    / billing cycle units (in our case, months)
    %input{:type=>"hidden", :name=>"t3", :value=>"M"}
    /billing cycle
    %input{:type=>"hidden", :name=>"p3", :value=>"1"}
    %input{:type=>"hidden", :name=>"src", :value=>"1"}
    %input{:type=>"hidden", :name=>"sra", :value=>"1"}
  -else 
    -#fields for single donations
    %input{:type=>"hidden", :name=>"cmd", :value=>"_donations"}
    %input{:type=>"hidden", :name=>"item_number", :value=>"#{@donation.id}"}
    %input{:type=>"hidden", :name=>"amount", :value=>"#{@donation.amount}"}
    %input{:type=>"hidden", :name=>"tax", :value=>"0"}

  -#these are for either type of donation
  %input{:type=>"hidden", :name=>"item_name", :value=>"Escape Artists #{d_type_string} Donation"}
  %input{:type=>"hidden", :name=>"business",:value=>"paypal@escapeartists.net"}
  %input{:type=>"hidden", :name=>"currency_code", :value=>"USD"}
  %input{:type=>"hidden", :name=>"no_shipping", :value=>"1"}
